@media only screen and (max-width: 1920px) and (min-width: 1445px) {
    .container {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 1600px) {
    .about__content {
        padding: 6rem 8rem 6rem 13rem;
    }
}

@media only screen and (max-width: 1445px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1366px) {
    html {
        font-size: 14px;
    }

    .about__content {
        padding: 6rem 7rem 6rem 11rem;
    }
}

@media (max-width: 1199.98px) {
    html {
        font-size: 13px;
    }

    .about__content {
        padding: 6rem;
    }
}

@media (max-width: 991.98px) {
    html {
        font-size: 12px;
    }

    /* Section Content */
    .section-content .heading {
        font-size: 2.25rem;
    }

    .section-content p {
        font-size: 0.9rem;
    }

    /* Header */
    .header {
        display: none;
    }

    .headerWrapper-main {
        width: 100%;
        display: flex !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 1rem;
    }

    .openBtn {
        font-size: 1.75rem;
        color: #fff;
    }

    .header.header--mobile {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: #000000bb;
        backdrop-filter: blur(10px);
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(-100%);
        transition: all 800ms ease-in-out;
    }

    .header.header--mobile.active {
        transform: translateY(0);
    }

    .header.header--mobile .header-main {
        display: block !important;
    }

    .header.header--mobile .header-main .header-main__logo {
        margin-bottom: 2rem;
    }

    .header.header--mobile .header-main__nav {
        display: block !important;
    }

    .header.header--mobile .header-main__nav a {
        margin-bottom: 0.5rem;
    }

    .closeBtn {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        padding: 1rem;
        font-size: 2rem;
    }

    /* Banner */
    .banner__content>h1 {
        font-size: 3rem;
    }

    .banner__content>p {
        font-size: 0.9rem;
    }

    /* About Us */
    .about__content {
        padding: 3rem;
    }

    .about__img {
        display: none;
    }

    /* Services */
    .services-card {
        height: 300px;
        margin-bottom: 1rem;
    }

    .services-card__img {
        width: 30%;
    }

    .services-card__content .title {
        font-size: 1.5rem;
    }

    .services-card:hover {
        transform: scale(1.02);
    }

    /* Cta */
    .cta__img {
        display: none;
    }

    /* Portfolio */
    :is(.packages, .portfolio, .testimonials) .themeBtn {
        display: none;
    }

    .portfolio .nav-tabs .nav-link {
        margin-bottom: 1rem;
    }

    .portfolio__img {
        margin-bottom: 1rem;
    }

    /* Packages */
    .packages-cardWrapper {
        margin-bottom: 1rem;
    }

    .packages-card .themeBtn {
        display: block;
    }

    /* Footer */
    .footer__copyright {
        flex-direction: column;
    }

    .footer__copyright a {
        margin-top: 0.5rem;
    }

    .testimonials-card {
        height: 200px;
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: 11px;
    }

    .banner::before,
    .banner::after {
        width: 100px;
        height: 100px;
    }

    .services-card {
        height: 220px;
    }
}

@media (max-width: 575.98px) {

    /* Section Content */
    .section-content .heading {
        font-size: 2.25rem;
    }

    .section-content p {
        font-size: 0.9rem;
    }

    /* Header */
    .header {
        display: none;
    }

    .headerWrapper-main {
        width: 100%;
        display: flex !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 1rem;
    }

    .openBtn {
        font-size: 1.75rem;
        color: #fff;
    }

    .header.header--mobile {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: #000000bb;
        backdrop-filter: blur(10px);
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(-100%);
        transition: all 800ms ease-in-out;
    }

    .header.header--mobile.active {
        transform: translateY(0);
    }

    .header.header--mobile .header-main {
        display: block !important;
    }

    .header.header--mobile .header-main .header-main__logo {
        margin-bottom: 2rem;
    }

    .header.header--mobile .header-main__nav {
        display: block !important;
    }

    .header.header--mobile .header-main__nav a {
        margin-bottom: 0.5rem;
    }

    .closeBtn {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        padding: 1rem;
        font-size: 2rem;
    }

    /* Banner */
    .banner__content>h1 {
        font-size: 3rem;
    }

    .banner__content>p {
        font-size: 0.9rem;
    }

    /* About Us */
    .about__content {
        padding: 3rem 2rem 3rem 2rem;
    }

    /* Services */
    .services-card {
        /* height: 400px; */
        margin-bottom: 1rem;
    }

    .services-card__img {
        width: 20%;
    }

    .services-card__content .title {
        font-size: 1.5rem;
    }

    .services-card:hover {
        transform: scale(1.02);
    }

    /* Cta */
    .cta__img {
        display: none;
    }

    /* Portfolio */
    :is(.packages, .portfolio, .testimonials) .themeBtn {
        display: none;
    }

    .portfolio .nav-tabs .nav-link {
        margin-bottom: 1rem;
    }

    .portfolio__img {
        margin-bottom: 1rem;
    }

    /* Packages */
    .packages-cardWrapper {
        margin-bottom: 1rem;
    }

    .packages-card .themeBtn {
        display: block;
    }

    /* Footer */
    .footer__copyright {
        flex-direction: column;
    }

    .footer__copyright a {
        margin-top: 0.5rem;
    }
}

@media (max-width: 440.98px) {}

@media (max-width: 320.98px) {}